<h1>Angular App</h1>
<nav>
  <ul>
    <li><a routerLink = "'/first-component" >FirstComponent</a></li>
      <li><a routerLink = "/second-component" routerLinkActive ="active"
        aria-currentWhenActive = "page">SecondComponent</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>

<h1>Angular lzy loading</h1>
<h2>Admin Links</h2>
<ul>
  <li><a routerLink ="admin/login">Login</a></li>
  <li><a routerLink ="admin/list">List</a></li>
</ul>
lazy loading Example ,here i am getting some erro
<router-outlet></router-outlet>
